<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<p>His Microposts</p>
<ul>
  <% @user.microposts.each do |micro| %>
    <li><%= micro.content %></li>
  <% end %>
</ul>
